<div class="card dice-roller" style="width: 20rem" [class.d-none]="!visible">
  <div class="card-header d-flex">
    <span>Würfeln</span
    ><button
      type="button"
      class="btn-close ms-auto"
      aria-label="Close"
      (click)="close()"
    ></button>
  </div>

  <div class="card-body my-3">
    <div class="row">
      <div class="col-12 d-flex text-center flex-column">
        <input
          id="charname"
          class="form-control text-center"
          [(ngModel)]="formula"
          style="color: black"
        />
      </div>
    </div>

    <div class="row">
      <div class="d-grid">
        <button
          type="button"
          class="btn btn-primary mx-3 my-3"
          (click)="rollDice()"
        >
          Würfeln
        </button>
      </div>
    </div>

    @if (diceResult.results.length > 0) {
    <div class="row d-flex flex-row justify-content-center mx-3">
      <div class="fs-2 text-center">{{ diceResult.total }}</div>
    </div>
    <div class="row d-flex flex-row justify-content-center mx-3">
      @for (r of diceResult.results; track $index) {
      <div class="col-auto m-2 fs-2 border rounded-circle text">
        {{ r }}
      </div>
      }
    </div>
    }
  </div>
</div>
