<div class="d-flex flex-column row-gap-1 mb-3">
  <div class="fw-bold">{{ role.name }}</div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      [value]="role.feature1.checked"
      [id]="'feature1-' + role.name"
    />
    <label
      class="form-check-label clickabel-label"
      (click)="openDescription(role.feature1)"
    >
      {{ role.feature1.name }}
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      [value]="role.feature2.checked"
      [id]="'feature2-' + role.name"
    />
    <label
      class="form-check-label clickabel-label"
      (click)="openDescription(role.feature2)"
    >
      {{ role.feature2.name }}
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      [value]="role.feature3.checked"
      [id]="'feature3-' + role.name"
    />
    <label
      class="form-check-label clickabel-label"
      (click)="openDescription(role.feature3)"
    >
      {{ role.feature3.name }}
    </label>
  </div>
</div>

<app-modal #descriptionModal
  ><span title>{{ selectedFeature?.name }}</span>
  <div body>
    {{ selectedFeature?.description }}
  </div>
</app-modal>
