<div
  class="border border-1 border-primary rounded p-3 my-auto"
  style="position: relative"
>
  <div class="row justify-content-center mb-2">
    <div class="col-auto text-center">
      <h4>
        <i>{{ melee.name }}</i>
      </h4>
    </div>
  </div>
  <div class="row justify-content-between mb-2">
    <div class="col-4 text-center">
      Schaden:<br /><i
        class="clickabel-label"
        (click)="labelClicked(melee.damage)"
        >{{ melee.damage }}</i
      >
    </div>
    <div class="col-4 text-center">
      Verd.:<br /><i>{{ melee.risk }}</i>
    </div>
  </div>

  <div class="btn-icon" (click)="openModal()">
    <i class="bi bi-three-dots-vertical" type="button"></i>
  </div>

  <app-modal #editModal
    ><span title
      >Edit <i>{{ melee.name }}</i></span
    >
    <div body>
      <textarea class="form-control" [rows]="rows" #textarea></textarea>
    </div>
    <div footer style="width: 100%; display: flex">
      <button class="btn btn-outline-danger me-auto" (click)="remove()">
        Remove
      </button>
      <button class="btn btn-outline-primary" (click)="copyToClipboard()">
        Copy
      </button>
      <button class="btn btn-primary ms-2" (click)="save()">Save</button>
    </div>
  </app-modal>
</div>
