<div class="border border-1 border-primary rounded p-3">
  <div class="row flex-column">
    <div class="col-auto">
      <label for="charname" class="col-form-label">Name</label>
    </div>
    <div class="col">
      <input id="charname" class="form-control" [value]="name" />
    </div>
  </div>
  <div class="row flex-column">
    <div class="col-auto">
      <label for="charname" class="col-form-label">Spieler:in</label>
    </div>
    <div class="col">
      <input id="charname" class="form-control" [value]="player" />
    </div>
  </div>
  <div class="row flex-column">
    <div class="col-auto">
      <label for="charname" class="col-form-label">Rolle</label>
    </div>
    <div class="col">
      <input id="charname" class="form-control" [value]="role" />
    </div>
  </div>
</div>
